header{
  text-align: center;
  color:white;
  background: darkblue;
  border: solid black 2px;
}

.title2{
  text-align: center;
  padding-left: 25vw;
}
main{
  margin: auto;
}
main section, main aside{
  display: inline-block;
}
main section{
   width: 60vw;
   padding: 2em;
   margin: auto;
  
  font-family: "Times New Roman", Times, serif;
  /* margin:auto; */
 }
main aside{
  width: 25vw;
}
hr{
  width: 75vh;
  height: 10px;
 background-color:cadetblue;
}
/* .pic{
  bottom:95px;
} */
 .aside1 h3 {
 text-align: center;
 } 
.para1{
      padding-left: 25vw;
}
aside{
  float:right;
 }

 .pic, .aside1{
   font-size: .75em;
      /* padding-left: 4.5vw; */
      /* padding-top:1.5vw; */ 
     } 

.foot{
  background: darkblue;
  border: solid black 2px;
  height: 30vh;
  bottom:400px;
}
